<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>ADD</title>
</head>
<body>
<form th:action="@{/admin/add}" method="post">
    <table>
        <tr>
            <th>Name</th>
            <td>
                <input type="text" name="fullname"/>
            </td>
        </tr>
        <tr>
            <th>Brithday</th>
            <td>
                <input type="date" name="brithday"/>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <input type="text" name="phone"/>
            </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <input type="text" name="address"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="ADD"/>
</form>
</body>
</html>